# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Test/cache output
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# Build/distribution output
build/
dist/
*.egg-info/

# Temporary files
tmp/
*.tmp
*.log

.devcontainer

cc_install.sh